

@media screen and (max-width:768px){
    #submit-btn {
        margin-top: 10px;
    }
}
header.Our_Header {
    width: 100%;
    margin-top: 120px;
}

h1 {
    text-align: center;
}

#URL_Lines {
    justify-content: center;
    align-items: center;
}

#Bottom_padding {
    margin-bottom: 50px;
}

table {
    width:100%;
    align-content: center;
    border-collapse: collapse;
    margin: 0;
  }

  table, th, td {

    border: 1px solid black;
  }


  table th, table td{
    padding: 15px 25px;
    text-align: center;
  }

  /*******************/
  /*Channel and Video*/
  /*******************/

   #landing-page .jumbotron h1,
   #landing-page .jumbotron h2 {
     text-align: center;
     color: white;
   }

   #landing-page .jumbotron h2 {
      margin-bottom: 1em;
    }

   body.landing-page {
    background-image: url('../img/background.png');
   }

    #landing-page .jumbotron {
    background-color: rgba(44,62,80, 0.9);
    }

  .url_form {
      margin-top: 190px;
      margin-bottom: 50px;
  }

  #alert-box {
    margin-top: 10px;
  }
  #channel-submit-btn {
      width: 100%;
  }
  #cards-container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 1em;
  }

  #cards-container .card {
    flex: 0 1 20rem;
    margin: auto;
    margin-bottom: 1em;
    border-color: rgba(44,62,80, 0.9);
  }

  #cards-container .card .card-text {
    height: 150px;
    text-overflow: ellipsis;
    overflow: hidden;
  }
  #cards-container .card .card-title {
    height: 50px;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  #cards-container .card .btn {
    width: 100%;
  }

  /*******************/
  /*Overall Sentiment*/
  /*******************/
  #overall-sentiment {
    margin-top: 150px;
  }

  /*******************/
  /*Top Entities List*/
  /*******************/
  #top-entities .list-group-item {
    display: flex;
    justify-content: space-between;
  }
  #top-entities .list-group-item p {
    margin: 0;
  }
  /*******************/
  /*Responsive Design*/
  /*******************/

  /*Default is desktop-size*/


  @media screen and (max-width:768px){
    .HalfOfList {
    float: none;
    width: auto;
    }

    .innerColumn {
    margin: 0 0 10px 0;
  }

    table th, table td{
        padding: 8px 10px;
        text-align: center;
    }

    nav ul li {
        float:none;
    }
  }

  /*Barchart CSS*/

  .chart--container {
    height: 50vh;
    width: 80%;
    margin: auto;
  }

  .bar {
    fill: #EB3324;
  }

  text {
    fill: #EB3324;
    font-family: courier;
    letter-spacing: -1px;
  }

  .domain, .tick line {
    stroke: #EB3324;
    stroke-width: 1px;
  }

  .label {
    text-transform: capitalize;
  }
